/* CPAP PI Firmware DeviceTree Overlay (Phase 1: MAX30101) */

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 27)>,
				<NRF_PSEL(TWIM_SCL, 0, 26)>;
			bias-pull-up;
		};
	};
	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 27)>,
				<NRF_PSEL(TWIM_SCL, 0, 26)>;
			low-power-enable;
			bias-pull-up;
		};
	};

	/* Override default UART0 pins to free P0.05 (RTS) for ADC use */
	uart0_default: uart0_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 6)>;
		};
		group2 {
			psels = <NRF_PSEL(UART_RX, 0, 8)>;
			bias-pull-up;
		};
	};

	uart0_sleep: uart0_sleep {
		group1 {
			psels = <NRF_PSEL(UART_RX, 0, 8)>;
			low-power-enable;
		};
		group2 {
			psels = <NRF_PSEL(UART_TX, 0, 6)>;
			low-power-enable;
			bias-pull-up;
		};
	};
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	tca9548a: tca9548a@70 {
		compatible = "ti,tca9548a";
		reg = <0x70>;
		reset-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
		#address-cells = <1>;
		#size-cells = <0>;

		mux_i2c0: i2c-mux-channel@0 {
			compatible = "ti,tca9548a-channel";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			max30101: max30101@57 {
				compatible = "emotibit,max30101";
				reg = <0x57>;
				irq-gpios = <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
		};

		mux_i2c1: i2c-mux-channel@1 {
			compatible = "ti,tca9548a-channel";
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			sht40: sht40@44 {
				compatible = "arduino,sht40";
				reg = <0x44>;
			};
		};
	};
};

/ {
	zephyr,user {
		/* MUX Address pins */
		mux-a0-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		mux-a1-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
		mux-a2-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
		
		/* Expose ADC channels for easy access */
		io-channels = <&adc 0>, <&adc 1>;
	};
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN1>; /* P0.03 - Buffered Vref */
		zephyr,resolution = <12>;
	};

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN3>; /* P0.05 - TIA Output (Vout) */
		zephyr,resolution = <12>;
	};
};
